<!DOCTYPE html>
<html>
<head>

    <title>Owner Page</title>
    <link rel="stylesheet" href="../../ui/css/style.css">
    <script src="../../ui/js/owner.js"></script>

</head>
<body>
    <include href="header.htm" />
    <br>    
    
    <div class="center">
        <button class="button func_button" onclick="openViewItems()">View Items</button><br>
        <button class="button func_button" onclick="window.location.href='/owner/add';">Add Item</button>
        <button class="button func_button" onclick="openViewOrders()">Show Orders</button><br>
    </div>

    <div id="viewItem">
        <button class="button func_button1" onclick="closeViewItems()">Close</button>
        <table id="productItemTable">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Item</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th colspan='2'>Actions</th>
                </tr>
            </thead>    
            <tbody>
            <repeat group="{{ @product }}" value="{{ @item }}">
                <tr>
                    <td>{{ @item.pi_code }}</td>
                    <td>{{ @item.pi_name }}</td>
                    <td>{{ @item.pi_stock }}</td>
                    <td>{{ @item.pi_price }}</td>
                    <td><button class="button func_button1" onclick="window.location.href='/owner/update/{{ @item.pi_code }}';">Update</button></td>
                    <td><button class="button func_button1" onclick="window.location.href='/owner/delete/{{ @item.pi_code }}';">Delete</button></td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>

    <div class="deliverForm" id="viewOrder">
        <button class="button func_button1" onclick="closeViewOrders()">Close</button>
        <form method="post" action="{{ @BASE }}{{ @PARAMS.0 }}" class="mainFormContainer">
            <table id="productItemTable">
                <thead>
                    <tr>
                        <th></th>
                        <th>Customer</th>
                        <th>Code</th>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Action</th>
                    </tr>
                </thead>    
                <tbody>
                <repeat group="{{ @order }}" value="{{ @item }}">
                    <tr>
                        <td><input type="checkbox" id="{{ @item.cch_id }}" name="{{ @item.cch_id }}" value="checked"></td>
                        <td>{{ @item.cus_uname }}</td>
                        <td>{{ @item.pi_code }}</td>
                        <td>{{ @item.order_name }}</td>
                        <td>{{ @item.order_price }}</td>
                        <td>{{ @item.order_count }}</td>
                        <td><input class="button func_button1" name="{{ @item.cch_id }}" type="submit" value="Cancel"></input></td>
                    </tr>
                </repeat>
                </tbody>
            </table>
            <br>
            <input class="button func_button1" name="submit_button" type="submit" value="Deliver"></input>
        </form>
    </div>

</body>
</html>